{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

<!-- Begin page content -->


         <h1 >New Question</h1>
          <div class="input-group input-group-sm mb-3" style="display:flex;">
            <span class="input-group-text" >Title</span>
            <input class="label2">
          </div>

          <div class="input-group input-group-sm mb-3" style="display:flex;">
            <span class="input-group-text" >Text</span>
            <textarea class="label1"></textarea>
          </div>

          <div class="input-group input-group-sm mb-3" style="display:flex;">
            <span class="input-group-text" >Tags</span>
            <input class="label2">
          </div>



         <button class="buttonASK" style="margin-left:50px;">ASK!</button>


      {% endblock %}