{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

         <a class="block-title" href ="">Questions</a>
         <div class="question-title">
            <a  href="{% url 'hot' %}">Hot question</a>
              <a>|</a>
            <a  href="{% url 'new' %}">New question</a>
          </div>

{% for question in questions %}
    <div class="row question">
    {% include 'components/question-item.html' %}
    </div>
{% endfor %}

{% include 'components/pagin.html' %}
{% endblock %}
