{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}


       <div class="col-8">
         <h1 style="display:block;">Log in</h1>
           <span class="labelTextRed" >Sorry, wrong password!</span>
           <span class="labelTextRed" ></span>
          <div class="input-group input-group-sm mb-3">
            <span class="labelText" >Login</span>
            <input class="label4">
          </div>

          <div class="input-group input-group-sm mb-3">
            <span class="labelText" >password</span>
            <input type="password" class="label4">
          </div>

           <button class="buttonASK" style="border-radius: 10px;">Log in</button>
           <div class="create">
               <a href="{% url 'signup' %}" class="shapka_1" style="color:blue; ">create new account</a>
           </div>

       </div>
{% endblock %}