{% extends 'layouts/base.html' %}
{% load static%}
{% block content %}

    <div class="row question-main">
    {% include 'components/question-item.html' %}
    </div>

        <div class="block-title" href ="">Answers</div>

{% for answer in answers %}
    {% include 'components/answer-item.html' %}
{% endfor %}

{% include 'components/pagin.html' %}

         <label for="comment" class="answer-ask">Enter your answer hear:</label>
         <form action="/submit_form" method="post">
            <textarea id="comment" name="comment" rows="14" cols="102" maxlength="256"></textarea>
            <button class="butt-ans" type="submit">Answer</button>
          </form>

{% endblock %}