{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}


         <h1 style="display:block;">Log in</h1>
           <span class="labelTextRed" >Sorry, wrong password!</span>
           <span class="labelTextRed" ></span>
          <div class="input-group input-group-sm mb-3">
            <span class="labelText" >Login</span>
            <input class="label4">
          </div>

           <div class="input-group input-group-sm mb-3">
            <span class="labelText" >Email</span>
            <input class="label4">
          </div>

          <div class="input-group input-group-sm mb-3">
            <span class="labelText" >NickName</span>
            <input class="label4">
          </div>

          <div class="input-group input-group-sm mb-3">
            <span class="labelText" >Password</span>
            <input type="password" class="label4">
          </div>

           <div class="input-group input-group-sm mb-3">
            <span class="labelText" >Repeat password</span>
            <input type="password" class="label4">
          </div>

           <div class="input-group input-group-sm mb-3">
            <span class="labelText" >Upload Avatar</span>
            <div class="way">
                <input class="label6" >
               <button type="submit" style="margin-left:10px; border-radius: 10px;" >choose</button>
            </div>
          </div>



           <button class="buttonASK" style="border-radius: 10px;">Register!</button>





{% endblock %}