{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

<!-- Begin page content -->

       <div class="col-8">
         <h1 >Settings: Dr. Pepper</h1>
          <div class="input-group input-group-sm mb-3">
            <span class="labelText" >Login</span>
            <input class="label4">
          </div>

          <div class="input-group input-group-sm mb-3">
            <span class="labelText" >Email</span>
            <input class="label4">
          </div>

          <div class="input-group input-group-sm mb-3">
            <span class="labelText" >NickName</span>
            <input class="label4">
          </div>

           <div class="input-group input-group-sm mb-3">
            <span class="labelText" >Upload Avatar</span>
            <img src="../static/img/fiona.jpeg" alt ="" class="question-image" style="border-radius: 10px;">
          </div>
           <div class="way">
            <input class="label5">
               <button type="submit" style="margin-left:10px; border-radius: 10px;" >choose</button>
           </div>

           <button class="buttonASK" style="border-radius: 10px;">Save</button>
       </div>



{% endblock %}