{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

<!-- Begin page content -->
       <div class="col-8">
         <a class="block-title" href ="">Settings: </a>
         <div class="row">
             <div class="col-2">
                     <p style="margin-top: 25px;"></p>
                     <label class="answer-sett">Login:</label>
                     <label class="answer-sett">Email:</label>
                     <label class="answer-sett">NickName:</label>
                     <label class="answer-sett">Upload avatar:</label>
             </div>
             <div class="col-6">
                 <div class="window-ask"></div>
                    <form class="d-flex">
                      <input class="form-control me-2" type="search" aria-label="Search" value="Login" maxlength="256">
                    </form>
                     <form class="d-flex">
                      <input class="form-control me-2" type="search" aria-label="Search" value="mail@yandex.ru" maxlength="256">
                    </form>
                    <form class="d-flex">
                      <input class="form-control me-2" type="search" aria-label="Search" value="Nickname" maxlength="256">
                    </form>
                     <img src="../static/img/fiona.jpeg" alt="Logotype" class="question-image">
                     <p style="margin-right: 10px;"></p>
                     <form class="d-flex">
                        <input class="form-control me-2" type="search" aria-label="avatar" value="c:\avatar.jpg" style="width: 190px;" maxlength="256">
                        <button class="butt-sett" type="submit">choose</button>
                     </form>
                     <p style="margin-right: 10px;"></p>
                     <button class="butt-sett" type="submit">Save</button>
                </div>
             </div>
       </div>

{% endblock %}