
<!doctype html>
<html lang="en" class="h-100">
  <head>

    <!-- Bootstrap core CSS -->
<link href="../static/css/bootstrap.min.css" rel="stylesheet" >
<script src="../static/js/bootstrap.bundle.min.js" ></script>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="../static/css/main.css" rel="stylesheet">
  </head>
  <body class="d-flex flex-column h-100">
    
<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">AskPupkin</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">


          <div class="right-area">
            <button class="btn btn-outline-success" type="submit">ASK!</button>

            <div class="avatar-image">
              <img src="../static/img/fiona.jpeg" alt ="" class="avatar-image">
            </div>

            <div class="text-autorize">
              <div class="shapka">
                <h class="shapka" >Dr. Pepper</h>
              </div>
              <div class="shapka">
               <div class="shapka">
                 <div class="row-6">
                    <a href="" class="shapka_1">setting</a>
                  </div>
                  <div class="row-6">
                    <a  href="" class="shapka">log_out</a>
                  </div>
                </div>
              </div>
           </div>
          </div>


        </form>
      </div>


    </div>
  </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
     <div class="row">
       <div class="col-8">
         <div class="hot-quest">
           <h1 style="margin-top:20px;">Tag: bender</h1>
         </div>


         <div class="row question">


           <div class="col-3">

             <img src="../static/img/fiona.jpeg" alt ="" class="question-image">

             <div class="counter">
                <span class="input-group-text" >6</span>
                <div class="double-button">
                  <div class="like">
                     <button class="like-dislike" >like!</button>
                  </div>
                  <div class="double-button">
                    <button class="like-dislike" >dislike!</button>
                  </div>
                </div>
             </div>


           </div>
           <div class="col-9">
             <div class="question-title"><a href ="">First question.</a></div>
             <div class="question-text">Lorem Ipsum is simply dummy text of the printing
               and typesetting industry.
               Lorem Ipsum has been the industry's standard dummy text ever
               since the 1500s, when an unknown printer took a galley of type
               and scrambled it to make a type specimen book.
               It has survived not only five centuries, but also the leap
               into
               electronic typesetting, remaining essentially unchanged.
               It was popularised in the 1960s with the release of
               Letraset sheets containing Lorem Ipsum passages, and more recently
               with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
             </div>

             <div class="black-jack">
               <a  href="">Answer (3)</a>
               <div class="black-jack2">
                 <h  href="">Tags: </h>
               </div>

               <div class="answer">
                 <a  href="">black-jack</a>
               </div>

               <div class="answer">
                 <a  href="">bender</a>
               </div>
             </div>
           </div>
         </div>
         <div class="row question">
           <div class="col-3">
             <img src="../static/img/fiona.jpeg" alt ="" class="question-image">
             <div class="counter">
                <span class="input-group-text" >6</span>
                <div class="double-button">
                  <div class="like">
                     <button class="like-dislike" >like!</button>
                  </div>
                  <div class="double-button">
                    <button class="like-dislike" >dislike!</button>
                  </div>
                </div>
             </div>

           </div>
           <div class="col-9">
             <div class="question-title"><a href ="">Second question.</a></div>
             <div class="question-text">Lorem Ipsum is simply dummy text of the printing
               and typesetting industry.
               Lorem Ipsum has been the industry's standard dummy text ever
               since the 1500s, when an unknown printer took a galley of type
               and scrambled it to make a type specimen book.
               It has survived not only five centuries, but also the leap
               into
               electronic typesetting, remaining essentially unchanged.
               It was popularised in the 1960s with the release of
               Letraset sheets containing Lorem Ipsum passages, and more recently
               with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
             </div>
             <div class="black-jack">
               <a  href="">Answer (3)</a>
               <div class="black-jack2">
                 <h  href="">Tags: </h>
               </div>

               <div class="answer">
                 <a  href="">black-jack</a>
               </div>

               <div class="answer">
                 <a  href="">bender</a>
               </div>
             </div>
           </div>
         </div>
         <div class="row question">
           <div class="col-3">
             <img src="../static/img/fiona.jpeg" alt ="" class="question-image">
             <div class="counter">
                <span class="input-group-text" >6</span>
                <div class="double-button">
                  <div class="like">
                     <button class="like-dislike" >like!</button>
                  </div>
                  <div class="double-button">
                    <button class="like-dislike" >dislike!</button>
                  </div>
                </div>
             </div>
           </div>
           <div class="col-9">
             <div class="question-title"><a href ="">Third question.</a></div>
             <div class="question-text">Lorem Ipsum is simply dummy text of the printing
               and typesetting industry.
               Lorem Ipsum has been the industry's standard dummy text ever
               since the 1500s, when an unknown printer took a galley of type
               and scrambled it to make a type specimen book.
               It has survived not only five centuries, but also the leap
               into
               electronic typesetting, remaining essentially unchanged.
               It was popularised in the 1960s with the release of
               Letraset sheets containing Lorem Ipsum passages, and more recently
               with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
             </div>
             <div class="black-jack">
               <a  href="">Answer (3)</a>
               <div class="black-jack2">
                 <h  href="">Tags: </h>
               </div>

               <div class="answer">
                 <a  href="">black-jack</a>
               </div>

               <div class="answer">
                 <a  href="">bender</a>
               </div>
             </div>
           </div>
         </div>
       </div>
       <div class="col-4">
         <div class="row">
           <h2>Popular tags</h2>
           <div class="tags">
             <span class="badge bg-primary">Python</span>
             <span class="badge bg-secondary">CSS</span>
             <span class="badge bg-success">Voloshin</span>
             <span class="badge bg-danger">Django</span>
             <span class="badge bg-dark">VK</span>
           </div>
           <br/>
           <h2>Best members</h2>
           <UL class="list-group" style = " margin-left: 15px; max-width:150px">
             <li class="list-group-item"><a href=""></a>Mr. Freeman</li>
             <li class="list-group-item"><a href=""></a>Dr. House</li>
             <li class="list-group-item"><a href=""></a>Bender</li>
             <li class="list-group-item"><a href=""></a>Queen Victoria</li>
             <li class="list-group-item"><a href=""></a>V. Pupkin</li>
           </UL>
         </div>
       </div>
     </div>
    <div class="buttons">
      <button >1</button>
      <button class="answer">2</button>
      <button class="answer">3</button>
      <button class="answer">4</button>
      <button class="answer">5</button>
      <button class="answer">...</button>
      <button class="answer">53</button>
    </div>





  </div>
</main>

<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">Homework of Skobelev Denis.</span>
  </div>
</footer>


    <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" ></script>

      
  </body>
</html>
