{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}


         <div class="hot-quest">
           <h1 style="margin-top:20px;">Tag: bender</h1>
         </div>


         <div class="row question">


           <div class="col-3">

             <img src="../static/img/fiona.jpeg" alt ="" class="question-image">

             <div class="counter">
                <span class="input-group-text" >6</span>
                <div class="double-button">
                  <div class="like">
                     <button class="like-dislike" >like!</button>
                  </div>
                  <div class="double-button">
                    <button class="like-dislike" >dislike!</button>
                  </div>
                </div>
             </div>


           </div>
           <div class="col-9">
             <div class="question-title"><a href ="">First question.</a></div>
             <div class="question-text">Lorem Ipsum is simply dummy text of the printing
               and typesetting industry.
               Lorem Ipsum has been the industry's standard dummy text ever
               since the 1500s, when an unknown printer took a galley of type
               and scrambled it to make a type specimen book.
               It has survived not only five centuries, but also the leap
               into
               electronic typesetting, remaining essentially unchanged.
               It was popularised in the 1960s with the release of
               Letraset sheets containing Lorem Ipsum passages, and more recently
               with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
             </div>

             <div class="black-jack">
               <a  href="">Answer (3)</a>
               <div class="black-jack2">
                 <h  href="">Tags: </h>
               </div>

               <div class="answer">
                 <a  href="">black-jack</a>
               </div>

               <div class="answer">
                 <a  href="">bender</a>
               </div>
             </div>
           </div>
         </div>
         <div class="row question">
           <div class="col-3">
             <img src="../static/img/fiona.jpeg" alt ="" class="question-image">
             <div class="counter">
                <span class="input-group-text" >6</span>
                <div class="double-button">
                  <div class="like">
                     <button class="like-dislike" >like!</button>
                  </div>
                  <div class="double-button">
                    <button class="like-dislike" >dislike!</button>
                  </div>
                </div>
             </div>

           </div>
           <div class="col-9">
             <div class="question-title"><a href ="">Second question.</a></div>
             <div class="question-text">Lorem Ipsum is simply dummy text of the printing
               and typesetting industry.
               Lorem Ipsum has been the industry's standard dummy text ever
               since the 1500s, when an unknown printer took a galley of type
               and scrambled it to make a type specimen book.
               It has survived not only five centuries, but also the leap
               into
               electronic typesetting, remaining essentially unchanged.
               It was popularised in the 1960s with the release of
               Letraset sheets containing Lorem Ipsum passages, and more recently
               with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
             </div>
             <div class="black-jack">
               <a  href="">Answer (3)</a>
               <div class="black-jack2">
                 <h  href="">Tags: </h>
               </div>

               <div class="answer">
                 <a  href="">black-jack</a>
               </div>

               <div class="answer">
                 <a  href="">bender</a>
               </div>
             </div>
           </div>
         </div>
         <div class="row question">
           <div class="col-3">
             <img src="../static/img/fiona.jpeg" alt ="" class="question-image">
             <div class="counter">
                <span class="input-group-text" >6</span>
                <div class="double-button">
                  <div class="like">
                     <button class="like-dislike" >like!</button>
                  </div>
                  <div class="double-button">
                    <button class="like-dislike" >dislike!</button>
                  </div>
                </div>
             </div>
           </div>
           <div class="col-9">
             <div class="question-title"><a href ="">Third question.</a></div>
             <div class="question-text">Lorem Ipsum is simply dummy text of the printing
               and typesetting industry.
               Lorem Ipsum has been the industry's standard dummy text ever
               since the 1500s, when an unknown printer took a galley of type
               and scrambled it to make a type specimen book.
               It has survived not only five centuries, but also the leap
               into
               electronic typesetting, remaining essentially unchanged.
               It was popularised in the 1960s with the release of
               Letraset sheets containing Lorem Ipsum passages, and more recently
               with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
             </div>
             <div class="black-jack">
               <a  href="">Answer (3)</a>
               <div class="black-jack2">
                 <h  href="">Tags: </h>
               </div>

               <div class="answer">
                 <a  href="">black-jack</a>
               </div>

               <div class="answer">
                 <a  href="">bender</a>
               </div>
             </div>
           </div>
         </div>

    <div class="buttons">
      <button >1</button>
      <button class="answer">2</button>
      <button class="answer">3</button>
      <button class="answer">4</button>
      <button class="answer">5</button>
      <button class="answer">...</button>
      <button class="answer">53</button>
    </div>



{% endblock %}