{% load static %}

 <div class="row question">
           <div class="col-2">
             <span class="buttons">
                 <button class="button" onclick="like(1)">like
                 </button>
                 <span class="counter">
                        <p id="count1">{{ answer.total_likes }}</p>
                 </span>
                 <button class="image-button" onclick="dislike(1)">dislike
                 </button>

             </span>
           </div>
           <div class="col-10">
            <div class="question-text">
            {{ answer.content }}
            </div>
                 {% if answer.is_correct %}
                    <table>
                        <tr>
                            <td><input type="checkbox" checked></td>
                            <th>Correct!</th>
                        </tr>
                    </table>
                {% else %}
                    <td><input type="checkbox"></td>
                    <th>Correct!</th>
                {% endif %}
            </table>
           </div>
         </div>
